.sidebar{
  width: 20%;
  height: 100%;
}
.menuItem{
  cursor: pointer;
  /* margin: 0.25rem 0; */
  padding: 6px 4px;
}
.link{
 text-decoration: none;
}
.menuItem:hover{
  background-color: #e5e5e5;
  text-decoration: underline;
}
.dept_btn:hover{
  text-decoration: underline;
}

.bars{
  display: none;
}
.logout{
  margin-top: 305px;
}

